<div class="min-h-screen bg-slate-100 p-8">
  <button
    class="rounded-md px-4 py-2 text-slate-500 hover:bg-slate-300 hover:text-slate-600"
    (click)="backToDashboard()"
  >
    ← Back
  </button>

  <div class="mt-20 flex justify-center">
    <div class="absolute h-40 w-40 rounded-full bg-slate-200"></div>

    <div class="relative flex flex-col items-center gap-2">
      <h1 class="text-5xl font-bold">404</h1>
      <p class="font-bold">Page Not Found</p>

      <p class="mt-2 text-center text-sm text-slate-500">
        Sorry we can't find what are you looking for
      </p>
    </div>
  </div>
</div>
