@let user = userDetails$ | async;

<div>{{ (user?.name)![0] }}</div>

<div>
  <h2>Profile</h2>

  <p>{{ user?.name }}</p>
  <p>{{ user?.username }}</p>
  <p>{{ user?.email }}</p>
  <p>{{ user?.phone }}</p>
  <p>{{ user?.website }}</p>
</div>

<div>
  <h2>Address</h2>

  <p>{{ user?.address?.street }}</p>
  <p>{{ user?.address?.city }}</p>
  <p>{{ user?.address?.zipcode }}</p>
</div>

<div>
  <h2>Company</h2>

  <p>{{ user?.company?.name }}</p>
  <p>{{ user?.company?.catchPhrase }}</p>
  <p>{{ user?.company?.bs }}</p>
</div>
